:root {
--scroll--bar-primary-bg-color: #0073E0;  
--scroll--bar-hover-primary-bg-color: #1BA2E1;  

--header-bg-color: #FFFFFF;
--header-color: #4D4D4D; 

--nav-bar-bg-color: #FFFFFF;
--nav-bar-color: #4D4D4D; 
--nav-bar-text-hover-color:#1BA2E1; 


--notificattion-bg-color: #00B482;
--notificattion-color:  #FFFFFF;

--button-bg-color: #F47A28;
--button-color: #FFFFFF;


--button-primary-bg-color: #0073E0;
--button-color: #FFFFFF;


--button-secondary-bg-color: #025D72;
--button-color: #FFFFFF;

--footer-bg-color:#666666;
--footer-color: #FFFFFF;
}
