<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="js/css-polyfills.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            <div class="main-header-logo"><img src="img/main-logo.svg" alt=""></div>
            <div class="main-header-title">DDI VIEWER</div>
            <div class="main-header-session">
                    <span class="user-title">User:</span>
                    <span id="user-name" class="user-name">userID</span>
            </div>
        </div>
                <div class="main-nav-left">
            <input type="search" name="" id="">
            <img src="img/magnifying-glass.svg" alt="" srcset="">
        </div>
        <div class="main-nav-right">
            <div class="main-nav-menu"><a href="#">M1</a>
                <a href="#">M2</a>
                <a href="#">M3</a>
                <a href="#">M4</a>
                <a href="#">M5</a>
                <a href="#">M6</a>
            </div>
        </div>
        <div class="left-aside custom-scrollbar">Tree View
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quae, praesentium ullam? Fugiat beatae at illum cumque, fuga esse sed officiis, 
                corporis explicabo ducimus perferendis id? Neque debitis numquam cupiditate atque.
                <br>
                <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Odit doloribus numquam illo quod tempore quis nesciunt mollitia, 
                asperiores reiciendis? Eum consequuntur quas voluptatum quos ullam alias rem itaque vero in.
                <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Odit doloribus numquam illo quod tempore quis nesciunt mollitia, 
                asperiores reiciendis? Eum consequuntur quas voluptatum quos ullam alias rem itaque vero in.
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quae, praesentium ullam? Fugiat beatae at illum cumque, fuga esse sed officiis, 
                corporis explicabo ducimus perferendis id? Neque debitis numquam cupiditate atque.
                <br>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quae, praesentium ullam? Fugiat beatae at illum cumque, fuga esse sed officiis, 
                corporis explicabo ducimus perferendis id? Neque debitis numquam cupiditate atque.
                <br>
                <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Odit doloribus numquam illo quod tempore quis nesciunt mollitia, 
                asperiores reiciendis? Eum consequuntur quas voluptatum quos ullam alias rem itaque vero in.
                <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Odit doloribus numquam illo quod tempore quis nesciunt mollitia, 
                asperiores reiciendis? Eum consequuntur quas voluptatum quos ullam alias rem itaque vero in.
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quae, praesentium ullam? Fugiat beatae at illum cumque, fuga esse sed officiis, 
                corporis explicabo ducimus perferendis id? Neque debitis numquam cupiditate atque.
                <br>
                <br>
            </p>
        </div>
        <div class="main-container">Main</div>
        <div class="footer">Footer</div>
    </div>
</body>

</html>