
@import './components/global-settings';
@font-face {
  font-family: "ProximaNovaSemibold";
  src: url(../fonts/FontsFree-Net-Proxima-Nova-.ttf);
  font-weight: bold;
}

* {box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color:#F2F2F2 ;
}
.wrapper {
  width: 90vw;
  height: 99vh;
  max-width: 1024px;
  margin: 0 auto;
}
.wrapper {
  display: grid;
  grid-template-rows: 80px 40px auto 80px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "main-header main-header main-header main-header"
    "main-nav-left main-nav-right main-nav-right main-nav-right"
    "left-aside main-container main-container main-container"
    "footer footer footer footer";
  background-color: #FFFFFF;  
  }

  @media only screen and (max-width: 640px)  {
    .wrapper {
      grid-template-rows: 1fr 1fr 1fr 2fr auto 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 
        "main-header"
        "main-nav-right"
        "main-nav-left"
        "left-aside"
        "main-container"
        "footer";
      }
      .main-header {
        grid-area: main-header;
        display:flex;
        flex-direction: column;
        align-items: center;
      }
      .main-header-logo {
        height: 90%;
        width: 100%;
      }
      .main-header-title {
        width: 100%;
      }
      .main-header-session {
        width: 100%;
      }
  }

  .wrapper > div {
    /* border: 1px solid rgb(233,171,88);
    border-radius: 2px; */
    /*background-color: rgba(233,171,88,.5);*/
    padding: 0.6em;
    color: var(--header-color);
  }
  .main-header {
    grid-area: main-header;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--header-color);
  }
  .main-header-logo {
    height: 100%;
    width: 20%;
    img {
      float: left;
      width: 90%;
      height: 90%;
    }
  }
  .main-header-title {
    width: 60%;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
  }
  .main-header-session {
    width: 20%;
    text-align: center;
    color: var(--header-color);
    .user-title {
      width: 40%;
      text-align:right; 
      padding-left: 15px; 
      padding-right: 5px; 
    }
    .user-name {
      width: 40%;
      text-align:left; 
      font-weight: bold;
      padding-left: 15px; 
      padding-right: 5px; 
    }
  }

  .main-nav-left {
    grid-area: main-nav-left ;
    img {
      width: .8em;
    }
    border-bottom: 1px solid var(--header-color);
  }
  .main-nav-right {
    grid-area: main-nav-right;
     display: flex;
     justify-content: space-around; 
     align-items: center;
     background-color: var(--nav-bar-bg-color);
     border-bottom: 1px solid var(--header-color);
  }
  .main-nav-menu {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--nav-bar-bg-color);
    a {
      text-decoration: none;
      padding: 2px 5px 2px 5px;
      text-align: center;
      color: var(--nav-bar-color);
      font-family: "ProximaNovaSemibold";
      font-weight: bold;
      &:hover {
        cursor: pointer;
        color: var(--nav-bar-text-hover-color);
      }
    }
  }
  .left-aside {
    overflow-y:scroll;
    grid-area: left-aside;
  }
  .custom-scrollbar {
      &::-webkit-scrollbar {
        width: 4px;
        background-color: #F5F5F5;
    } 
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgb(233,171,88);
    }
    &::-webkit-scrollbar-thumb {
      background-color: coral;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
  scrollbar-color: coral #f5f5f5;
  -moz-appearance: none !important;

  }
  thumb{
    -moz-appearance: none !important;
 }
  
  .main-container {
    grid-area: main-container;
  }
  .footer {
    grid-area: footer;
    border-top: 1px solid var(--header-color);
  }
  